<launch>
    <!-- Launch the simulation w/ Stonefish and RVIZ -->
    <include file="$(find dual_gironas)/launch/dual_robotAndDS.launch" />

    <!-- Launch the node to make available the planner services -->
    <include file="$(find iauv_motion_planner)/launch/dual_planner_node.launch" />

    <!-- Launch the node to make available docking/undocking actions -->
    <node name="multidocking_node" pkg="dual_gironas" type="multidocking_node.py" output="screen" />

</launch>
