<launch>
    <!-- Launch the simulation w/ Stonefish and RVIZ -->
    <include file="$(find dual_gironas)/launch/surveyor_interventor_ds.launch" />

    <!-- Launch the node to make available the planner services -->
    <include file="$(find iauv_motion_planner)/launch/planner_node.launch" />

    <!-- Launch the node to enable the pose controller for the auv -->
    <include file="$(find girona_utils)/launch/auv_pose_controller.launch">
        <arg name="robot" value="girona1000" />
    </include>
</launch>
